@import '../../../styles.scss';

.wrapper {
	padding: 1rem;

	@media (min-width: $tablet) {
		padding: 1rem 3rem;
	}

	@media (min-width: $desktop) {
		padding: 1rem 6rem;
	}
}

.link {
	color: $black-color;
	display: block;
	font-family: $main-font;
	font-size: 1rem;
	padding: .5rem;
	text-decoration: none;
	width: 100%;
}
