// Background Colors
$gray-bg-color: #f9f9f9;
$main-bg-color: #27bed5;
$white-bg-color: #fff;

// Font families
$main-font: 'Open Sans', sans-serif;

// Media queries
$desktop: 1080px;
$tablet: 768px;

// Text colors
$black-color: #000;
$blue-color: #27bed5;
$white-text: #fff;
