@import '../../../styles.scss';

.new_state {
	background-color: $gray-bg-color;
	padding: 3rem 1rem;

	@media (min-width: $tablet) {
		padding: 3rem;
	}

	@media (min-width: $desktop) {
		padding: 3rem 6rem;
	}

	&__card {
		background-color: $white-bg-color;
		border-radius: 5px;
		padding: 2rem;

		&__title {
			font-family: $main-font;
			font-size: 1.5rem;
			font-weight: 300;
			margin-bottom: 2rem;
		}

		&__form {
			&__group {
				display: block;
				margin-bottom: 2rem;

				&__label {
					display: block;
					font-family: $main-font;
					font-size: 1rem;
					margin-bottom: .5rem;
				}

				&__input {
					font-family: $main-font;
					font-size: 1rem;
					padding: .5rem 1rem;
				}
			}

			&__button {
				background-color: $main-bg-color;
				border: none;
				border-radius: 5px;
				color: $white-text;
				font-family: $main-font;
				font-size: 1rem;
				padding: .75rem 1rem;
				width: 100%;

				&--disabled {
					cursor: not-allowed;
					opacity: .5;
				}
			}
		}
	}
}

.states {
	background-color: $white-bg-color;
	display: grid;
  gap: 1em;
	grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
	grid-template-areas:
	". .";
	padding: 3rem 1rem;

	@media (min-width: $tablet) {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
		". . . .";
		padding: 3rem;
	}

	@media (min-width: $desktop) {
		gap: 2em;
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
		". . . . . .";
		padding: 3rem 6rem;
	}

	&__state {
		background-color: $main-bg-color;
		border-radius: 5px;
		color: $white-text;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 8rem;
		padding: 1rem;

		&__initials {
			font-family: $main-font;
			font-size: 4rem;
			font-weight: 400;
			letter-spacing: .25rem;
		}

		&__name {
			font-family: $main-font;
			font-size: 1rem;
			font-weight: 300;
		}
	}
}
