@import '../../../styles.scss';

.states {
	background-color: $white-bg-color;
	display: grid;
  gap: 1em;
	grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
	grid-template-areas:
	". .";
	padding: 3rem 1rem;

	@media (min-width: $tablet) {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
		". . . .";
		padding: 3rem;
	}

	@media (min-width: $desktop) {
		gap: 2em;
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
		". . . . . .";
		padding: 3rem 6rem;
	}

	&__state {
		background-color: $main-bg-color;
		border-radius: 5px;
		color: $white-text;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 8rem;
		padding: 1rem;

		&__initials {
			font-family: $main-font;
			font-size: 4rem;
			font-weight: 400;
			letter-spacing: .25rem;
		}

		&__name {
			font-family: $main-font;
			font-size: 1rem;
			font-weight: 300;
		}
	}
}
