<app-link text="← Voltar"></app-link>

<section class="state">
	<div class="state__card">
		<h1 class="state__card__title">{{ title }}</h1>

		<div class="state__card__form" [formGroup]="stateForm">
			<div class="state__card__form__group">
				<label class="state__card__form__group__label" for="name">Nome: </label>
				<input class="state__card__form__group__input" id="name" placeholder="Rio de Janeiro" type="text" formControlName="name">
			</div>
			<div class="state__card__form__group">
				<label class="state__card__form__group__label" for="initials">Sigla: </label>
				<input class="state__card__form__group__input" id="initials" placeholder="RJ" type="text" formControlName="initials">
			</div>
			<button
				(click)="submit()"
				class="state__card__form__button"
				[ngClass]="{ 'state__card__form__button--disabled': stateForm.status === 'INVALID' }"
			>Atualizar</button>
		</div>

		<button (click)="confirmDelete()" class="state__card__delete">Excluir</button>
	</div>
</section>

<section class="cities" *ngIf="state?.cities?.length">
	<h1 class="cities__title">
		Cidades cadastradas neste estado:
	</h1>
	<ul class="cities__list">
		<li class="cities__list__item" *ngFor="let city of state.cities">
			<a 
				routerLink="../../city/{{ city.id }}"
				class="cities__list__item__link"
				title="Editar {{ city.name }}"
			>
				{{ city.name }}
			</a>
		</li>
	</ul>
</section>
