@import '../../../styles.scss';

.cities {
	padding: 3rem 1rem;

	@media (min-width: $tablet) {
		padding: 3rem;
	}

	@media (min-width: $desktop) {
		padding: 3rem 6rem;
	}

	&__title {
		font-family: $main-font;
		font-size: 1.5rem;
		font-weight: 300;
		margin-bottom: .5rem;
	}

	&__text {
		font-family: $main-font;
		font-size: .85rem;
		font-weight: 300;
		line-height: 1rem;
		margin-bottom: 2rem;

		&--no_margin {
			margin-bottom: unset;
		}
	}

	&__list {
		&__item {
			font-family: $main-font;
			font-size: 1rem;
			font-weight: 300;
			margin-bottom: 1rem;

			&__link {
				color: $blue-color;
			}
		}
	}
}
